project:
  type: book
  output-dir: "docs"

website:
  favicon: "img/logos/favicon.ico"
  reader-mode: true
  comments: 
    hypothesis:
      theme: clean
      openSidebar: true

book:
  title: "Pácticas de Cálculo con Julia"
  author: "Alfredo Sánchez Alberca"
  date: "1/6/2022"
  output-file: "practicas-calculo-julia"
  image: cover.png
  cover-image: img/logos/infinito.png
  sharing: [twitter, linkedin]
  downloads: [pdf, epub]
  favicon: "img/logos/favicon.ico"
  sidebar: 
    logo: img/logos/aprendeconalf.png
    tools:
      - icon: house-fill
        href: https://aprendeconalf.es
  open-graph: true
  twitter-card: 
    site: "@aprendeconalf"
  chapters:
    - index.qmd
    - introduccion.qmd
    - sucesiones.qmd
    #- limites.qmd
    
#bibliography: references.bib


format:
  html:
    theme: cosmo
    dark: darkly
    light: flatly
    html-math-method: mathjax
  pdf:
    documentclass: scrreport
    papersize: a4
    template-partials:
      - before-body.tex
    titlegraphic: img/logos/infinito.png
    institution: CEU San Pablo
    email: asalber@ceu.es
    web: https://aprendeconalf.es
    logo: img/logos/aprendeconalf.png
    include-in-header:
      - preamble.tex
      - macros.tex
    keep-tex: true
    #mainfont: TeX Gyre Termes
    #mainfontoptions:
    #  - Numbers=Lowercase
    #  - Numbers=Proportional    
    
  epub:
    cover-image: img/logos/infinito.png



